<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Wordle solutions, Wordle answers" />
        <meta name="author" content="cool-mist" />
        <title>Worlde Solutions</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="jumbotron d-flex text-center bg-light align-items-center min-vh-100 mt-center">
            <div class="container">
                <div>
                    <h2 class="display-6 my-5">{{prev}}</h2>
                    <h1 class="display-1 my-5">{{cur}}</h1>
                    <h2 class="display-6 my-5">{{next}}</h2>
                    <a href="https://github.com/cool-mist/WordleWords" target="_blank">
                        <button type="button" class="btn btn-light">
                            <i class="fa fa-github" style="font-size:3em"></i>
                        </button>
                    </a>
                    <a href="https://blog.neophyte.me/random/2022/01/24/wordle/" target="_blank">
                        <button type="button" class="btn btn-light">
                            <i class="fa fa-info-circle" style="font-size:3em"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
