[Unit]
Description=Wordle Background Job

[Service]
User=glados
WorkingDirectory=/home/glados/WordleWords/
Type=oneshot
ExecStart=/usr/bin/python3 /home/glados/WordleWords/genSite.py
